
.block_home {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url(img/mac.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  padding-top: 150px;
  top: 0;
  z-index: 100;
  color: white;
  margin-bottom: 50px;
}

.name {
  font-weight: bold;
  font-size: 40px;
}

.btn{
  margin-top: 50px;
}

.btn a{
  color: white;
}
.btn a:hover{
  background-color: white;
  color: black;
  transition: 0.5s;
}

h3{
  position: relative;
}


h3::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -1px;
  display: inline-block;
  width: 100px;
  height: 3px;
  background-color: black;
  transform: translate(-50%);
}


.about{
  margin-bottom: 100px;
}

.pic{
  text-align: center;
  margin: 20px  auto;
}

.pic img{
  width: 300px;
}

.career,.profile{
  margin: 0;
  padding: 0;
  border-bottom: 2px black solid;
  text-align: center;
  height: 50px;
  margin-bottom: 20px;

}

.profile{
  border: none;
}

.text {
  color: #7f7f7f;
  line-height: 1.7;
}

.prof-text {
  color: #7f7f7f;
  line-height: 1.7;
  padding: 0 200px;
}


.skills{
  margin-bottom: 100px;
}

.service{
  margin-bottom: 100px;
}

.service_text {
  color: #8c9398;
  text-align: left;
}

.works{
  margin-bottom: 100px;
}

.card_image{
  height: 200px;
  overflow: hidden;
}

.contact-form{
  text-align: center;
}



@media(max-width: 768px){
  
  .block_home {
    
    padding-top: 70px;
  }

  .prof-text {

    padding: 0 ;
  }

}

